 <!DOCTYPE html>
<html lang="en">
  <head>
   <link rel="stylesheet" type="text/css" href="resources/css/normalize.css">
   <link rel="stylesheet" type="text/css" href="resources/css/032grid.css">
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
      
   
   <link href="https://fonts.googleapis.com/css?family=Raleway:200,400|Roboto&display=swap" rel="stylesheet">
      <title>ACES</title>
    
  </head>
    <body>
        <header>
        <nav>
            <div class="row">
              <img src="logo.png" alt="aces logo" class="logo">
                <ul class="main-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact Us</a></li>     
                </ul>
             </div>
         </nav>
         
    <div class="hero-text-box">
       <h1 id="welcome">Welcome to ACES<br> Association of Computer Engineering Students</h1> 
       <a class="btn btn-full" href="#"> About Us</a>
       <a class="btn btn-ghost" href="#"> Contact Us</a>
    </div>
        </header>
    <section class="section-features">
         <div class="row">
             <h2> About Us</h2>
             <p>ACES is 'Association of Computer Engineering Students' of the department of Computer Engineering in Bharati Vidyapeeth College of Engineering, Pune.</p>
             <h3> Objectives </h3>
          </div>
        <div class="row">
                 <div class="col span-1-of-4 box" id="objective_box">
            
             <P>
              To encourage students of the Computer Engineering department to develop their intra-personal skills, like self-confidence, communication skills, general knowledge, by conducting Debates, Quiz, Paper Presentation competitions etc.
             </P>
                 </div>
                 <div class="col span-1-of-4 box" id="objective_box">
            
             <P>
              To encourage students of the Computer Engineering department to develop their inter-personal skills, like Event management & Time management by organizing Intra & Inter-Collegiate Events.
              </P>
                  </div>
                  <div class="col span-1-of-4 box" id="objective_box"> 
                    <P> 
                      To enable students of the Computer Engineering department to develop a healthy competitive spirit by competing with students of other departments & colleges, via Intra & Inter Collegiate events.
                     </P>
              
              
                   </div>
                   <div class="col span-1-of-4 box" id="objective_box">
                    <P>
                      To provide a platform for the Computer Engineering department students for knowledge sharing by organizing guest lectures.
                    </P>
             
                   </div> 
       </div>
    </section>
        
      <section class="section-steps">
        <section class="events">
          <h2>Events</h2>
  <div class="row1-container">
    
    <div class="box box-down cyan">
      <h2>Code Matrix</h2>
      <p>Time to examine the quality of coding ability, technical knowledge and the perfection you have gained out of your engineering life. Here, we bring a full proof package for you to evaluate yourself among various fields. This event comprises of three rounds.</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Pixelate</h2>
      <p>As the name suggests, this event is a Poster making competition and is all about unleashing the creative genius in you.</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      
    </div>

    <div class="box box-down blue">
      <h2>Techsalida</h2>
      <p>A Technical Event.The event comprised of three rounds :- 
Round 1-  A general quiz on computer science, 
Round 2- Picture Guessing,
Round 3- Buzzer Round.</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Pixel</h2>
      <p>A poster designing event.As the name suggests, this event is all about unleashing the creative genius in you. As always, the winning entry must display a mix of technical ability, aesthetic quality and creativity.</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
 
</section>
            
    

        <section class="section-meals">
          <h2>Gallery</h2>
         <ul class="meal-showcase clearfix ">
            <li>
             <figure class="meal-photo">
                 <img src="resources/css/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
             </figure>
           </li>
              <li>
             <figure class="meal-photo">
                 <img src="resources/css/img/2.jpg" alt="Simple italian pizza with cherry tomatoes">
             </figure>
           </li>
              <li>
             <figure class="meal-photo ">
                 <img src="resources/css/img/3.jpg" alt="Chicken breast steak with vegetables">
             </figure>
           </li>
              <li>
             <figure class="meal-photo ">
                 <img src="resources/css/img/4.jpg" alt="Autumn pumpkin soup">
             </figure>
           </li>
            </ul> 
            <ul class="meal-showcase clearfix">
            <li>
             <figure class="meal-photo">
                 <img src="resources/css/img/5.jpg" alt="Paleo beef steak with vegetables">
             </figure>
           </li>
              <li>
             <figure class="meal-photo">
                 <img src="resources/css/img/6.jpg" alt="Healthy baguette with egg and vegetables">
             </figure>
           </li>
              <li>
             <figure class="meal-photo">
                 <img src="resources/css/img/9.jpg" alt="Burger with cheddar and bacon">
             </figure>
           </li>
              <li>
             <figure class="meal-photo">
                 <img src="resources/css/img/5.jpg" alt="Granola with cherries and strawberrie">
             </figure>
           </li>
            </ul> 
        </section>
      
     <section class="Our-Customers">
        <div class="row">
          <h2 id="msg">Messages</h2>
         <div class="ro">
           <div class="col span-1-of-3">
             <blockquote>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam maxime labore consequatur ducimus, nihil itaque repellendus voluptatum doloribus quae dolore veniam amet quasi. Repellendus culpa fugiat nisi perferendis dolorem eaque.
                 <cite><img src="resources/css/img/bhalerao.jpg">Mr. Bhalerao</cite>
             </blockquote>
           </div>   
            <div class="col span-1-of-3">
             <blockquote>
                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit autem commodi molestiae repellat id dolor, a modi nobis enim dolorem quos eaque ipsa eius labore at est nisi? Repellat, dignissimos?
                 <cite><img src="resources/css/img/sagar.jpg">Mr. Nikam</cite>
             </blockquote>
           </div>   
            <div class="col span-1-of-3">
             <blockquote>
                 
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, in voluptates et itaque architecto veniam voluptas accusamus nisi aperiam culpa hic quaerat minima consequuntur saepe corporis odio magnam fuga est.
                 <cite><img src="resources/css/img/akash.jpg">Mr. Suryavanshi</cite>
             </blockquote>
           </div>   
         </div>
        </div>
         
     </section>
     <form action="/pay" method="POST">

<hr>
<h2>We're happy to hear from you </h2>
<br>
       <div class="name">
           <label for="name">Name</label>
           <input type="text" name="name" id="name" placeholder="first name and last name" required>
       </div>
       <br>
       <div class="email">
           <label for="email">Email:</label>
           <input type="email" name="email" id="email">
       </div>
       
       <br>
       <div class="address">
           Drop us a line:
           <textarea name="message" id="message" cols="200" rows="10" placeholder="Your message"></textarea>

       </div>
       
    <br>
    <div class="submit">
        <input type="submit" value="Send"/>
    </div>

       
   </form>
     
     {{!-- <section class="section-form">
       <div class="row">
        <h2>We're happy to hear from you</h2>
       </div>
      <div class="row">
        <from action="/reg" method="POST" class="contact-form" >
         <div class="row" id="some">
           <div class="col span-1-of-3">
             <lable for="name">Name</lable> 
           </div>
           <div class="col span-2-of-3">
             <input type="text" name="name" id="name" placeholder="Your name" requied>
           </div>
         </div>
             
         <div class="row" id="some">
           <div class="col span-1-of-3">
             <lable for="email">Email</lable> 
           </div>
           <div class="col span-2-of-3">
             <input type="email" name="email" id="email" placeholder="Your email" requied>
           </div>
         </div>
         
          <div class="row" id="some">
              <div class="col span-1-of-3">
                <label>Drop us a line</label>
              </div>
              <div class="col span-2-of-3">
               <textarea name="message" id="message" placeholder="Your message"></textarea>
              </div>
          </div> --}}
          {{!-- <div class="row">
              <div class="col span-1-of-3">
                <label>&nbsp;</label>
              </div> --}}
              <!-- <div class="col span-2-of-3">
               <input type="submit" value="send it">
              </div> -->
              {{!-- <a class="btn btn-full" id="send" href="#"> Send</a> --}}
              
     {{!-- <div class="submit">
        <input type="submit" value="Pay Now"/>
    </div> --}}

          </div> 
        </from>    
      </div>
     </section>
 
  </body>
</html>
