*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
     background-color:#fff;
     color: #555;
     font-family: 'Raleway','Arial',sans-serif;
     font-weight: 400;
     font-size: 20px;
     text-rendering: optimizeLegibility;
}
.clearfix{zoom: 1}
.clearfix:after{ 
  content: '.';
    clear:both;
    display: block;
    height:0;
    visibility: hidden;
    
}
.row{
     max-width: 1140px;
     margin:0 auto;
}
header{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
section {
      padding:80px 0;
    
    
     
}
h1,h2,h3{
    
    font-weight: 300;
    text-transform:uppercase;
   
   
}
h1{
    margin:0; 
    color:#fff;
    margin-bottom:20px;
    font-size:240%; 
    word-spacing:2px;
    letter-spacing: 1px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    height: 10px;
    background-color: #e67e22;
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top: 30px;
}
h3{
     font-size:110%;
    margin-bottom: 15px;
}
/* ----paragraph----*/
.long-copy{
    line-height: 145%;
    width:70%;
    margin-left: 15%;
    
}
.box{
     padding: 1%;
}
.box p{
     font-size:90%;
     line-height: 145%;
}
/*---ICONS---*/
.icon-big{
     font-size: 350%;
     display: block;
     color:#e67e22;
      margin-bottom: 10px;
}

/*---buttons----*/
.btn:link,
.btn:visited{
     display:inline-block;
     padding:10px 30px;
     font-weight:300;
     text-decoration: none;
     border-radius: 200px;
    transition:background-color 0.2s,border 0.2s,color 0.2s;
    
    
}
.btn-full:link, 
.btn-full:visited{
    background-color: #e67e22;
    border:1px solid #e67e22;
     color:#fff;
    margin-right:15px; 
     }
.btn-ghost:link, 
.btn-ghost:visited{
    border:1px solid #e67e22;
     color:#e67e22;
}
.btn:hover,
.btn:active{
     background-color: #cf6d17;
}
.btn-full:hover, 
.btn-full:active{
    
    border:1px solid #cf6d17;

     }
.btn-ghost:hover, 
.btn-ghost:active{
    border:1px solid #cf6d17;
     color:#fff;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 3px;
}
.main-nav{
     float: right;
     color: white;
     list-style:none;
     
     margin-top: 60px;
}
.main-nav li{
     display:inline-block;
     margin-left: 40px;
    
}

/*.main-nav li a link,
.main-nav li a visited,{

.main-nav li a link,
.main-nav li a visited{

    padding: 8px  0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition:bordr-bottom 0.2s;

}*/
.main-nav a{
    text-decoration: none;
    color: white;
}
.main-nav li a:hover{
    border-bottom: 2px solid #e67e22;
}
.meal-showcase{
    list-style: none;
    width: 100%;
}
.meal-showcase li{
     width: 25%;
     float:left;
     display:block;
    
}
.meal-photo {
     width: 100%;
     margin:0;
     overflow: hidden;
     background-color: #000;
    
}
.meal-photo img {
     opacity: 0.7;
     width:100%;
     height:auto;
     transform: scale (1.15);
     transition: transform 0.5s , opacity 0.5s;
    
}
.meal-photo img:hover {
   opacity: 1;
   transform: scale(1.3);
}
/*---Features---*/
.section-features .long-copy{
     margin-bottom: 30px;
}
.section-features h3{
    text-align: center;
}
/* How its work */
.section-steps{
    background-color: #f4f4f4; 
}
.step-box:first-child{
    text-align: right;
    padding-right:3%;
     margin-top: 30px;
}
.step-box:last-child{
    padding-left:3%;
    margin-top: 70px;
    
}
.app-screen{
    width:40%;

}
.work-steps{
       margin-bottom: 50px; 
}
.work-step:last-of-type{
    margin-bottom: 80px;
    
}
.work-steps div{
    color:#e67e22;
    border:2px solid #e67e22;  
    display:inline-block;
    border-radius:50%;
    height:50px;
    width:50px;
    text-align: center;
    padding: 5px;
    float:left;
    font-size: 150%;
    margin-right: 25px; 
}
.btn-app img{
    height:50px;
    width:auto;
    margin-right: 10px;
    
}
/*--image city--*/
.image-city{
     width:110%;
}

/* .Our-Customers{
     background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
=======
.Our-Customers{
     background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/14.jpg);
     background-size:cover;
     color:#fff;
    background-attachment: fixed;
     
} */
blockquote{
    font-style: italic;
    padding: 2%;
    line-height: 145%;
    margin-top: 40px;
   
}
blockquote:before{
     content:"\201C";
     font-size: 500%;
     display: block;
     position: absolute;
    
}

cite{
   font-size:90%;
   margin-top:25px;
   display: block;
}
cite img{
     height:50px;
     border-radius: 50%;
     margin-right:10px;
     vertical-align: middle;
}
.ro{
    margin-top:50px;
}
.section   -plans{
    background-color: #f4f4f4;
}
.plan-box{ background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    
}
.plan-box-div{
     padding: 15px;
     border-bottom: 1px solid #e8e8e8;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}
.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}

  
  

#send{
    margin-left: 150px;
    
}
#some{
    margin-left: 300px;
}

